#loginButtons {
  position: absolute;
  right: 15px;
}

#content{
  max-width: 98%;
  margin: auto;
  padding-top: 10px;
}

.plugins_avatar {
  width: 60px;
}

.plugins_title {
  font-size: 36px;
  font-weight: bold;
}

.plugins_title_div {
  text-align: center;
  padding-top: 40px;
}

.table-responsive {
  overflow: hidden;
}

.table {
  width: 100% !important;
}

.plugins_api {
  opacity: 0.6;
}

.plugins_api:hover {
  opacity: 1;
}